<a href="https://colab.research.google.com/github/sumairaanjum46/Python/blob/main/Complete_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Sumaira Anjum"

In [ ]:
2 + 2

In [ ]:
10

In [ ]:
5 / 2

In [ ]:
5 // 2

In [ ]:
2 ** 2

In [ ]:
2 ** 3

In [ ]:
2 ** 4

In [ ]:
2 * 3

In [ ]:
1 + 2 * 3

In [ ]:
(1 + 2 ) * 3

In [ ]:
10

In [ ]:
type(10)

In [ ]:
type(10.5)

In [ ]:
type('Hello')

In [ ]:
type('100')

In [ ]:
'Hello world'

In [ ]:
'Hello world'

In [ ]:
10 + 10

In [ ]:
10 + 20.5

In [ ]:
# concatenation

'hello' + ' world'

In [ ]:
'hello' * 5

In [ ]:
'hello' + 5

In [ ]:
'hello' + '5'

In [ ]:
'hello' * 'hi'

In [1]:
'Sumaira' + 'Anjum'

'SumairaAnjum'

In [ ]:
'Sumaira' * 5

In [ ]:
number = 10

In [ ]:
print(number)

In [ ]:
number

In [ ]:
number_2 = 20

In [ ]:
number + number_2

In [ ]:
print(name)

In [ ]:
print("Sumaira")

In [ ]:
print(5 + 10)

In [ ]:
print("what is your name?")
name = input()

print(name)

In [ ]:
num1 = input("enter number 1") #input function reads the value as an string
num2 = input("enter number 2")

print(num1 + num2)

In [ ]:
10 + 20

In [ ]:
type(num1)

In [ ]:
type(num2)

In [ ]:
int('10')

In [ ]:
float(10)

In [ ]:
str(10)

In [ ]:
num1 = int(input("enter number 1")) #input function reads the value as an string
num2 = int(input("enter number 2"))

print(num1 + num2)

In [ ]:
int(10.95)

In [ ]:
int('200')

In [ ]:
int('200.20')

In [ ]:
int(200.20)

In [ ]:
100 == '100'

In [ ]:
100 == 100.0

In [ ]:
len('Hello')

In [ ]:
len('')

In [ ]:
len('  ')

In [ ]:
var = True

In [ ]:
var

In [ ]:
True

In [ ]:
true

In [ ]:
True = 5

In [ ]:
5 < 10

In [ ]:
50 < 10

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not False

In [ ]:
not True

In [ ]:
(1 < 2) and (3 < 5)

In [ ]:
(10 < 5) or (50 > 10)

In [ ]:
num = 20

if num < 10:
    print("Number is less than 10")
else:
    print("Not less than 10")

In [ ]:
num = 20

if num < 10:
    print("Number is less than 10")
else:
    print("Not less than 10")

In [ ]:
num = 3
if num < 10:
    print('less than 10')
    if num < 5:
        print('less than 5')

In [ ]:
marks = 85

if marks > 90:
    print('Grade A')
else:
    print('Not grade A')

In [ ]:
marks  = 55

if marks > 90:
    print('Grade A')
elif marks > 80:
    print('Grade B')
elif marks > 70:
    print('Grade C')
elif marks > 60:
    print('Grade D')
else:
    print('Fail')

In [ ]:
marks  = 55

if marks > 90:
    print('Grade A')
if marks > 80:
    print('Grade B')
if marks > 70:
    print('Grade C')
if marks > 60:
    print('Grade D')
else:
    print('Fail')

In [ ]:
marks  = 75

if marks > 90:
    print('Grade A')
elif marks > 80:
    print('Grade B')
elif marks > 60:
    print('Grade D')
elif marks > 70:
    print('Grade C')
else:
    print('Fail')

In [ ]:
# Here is the code with an 'if' statement

value = 0
if value < 5:
    print("Hello World")
    value = value + 1

print("This is not part of if statement")

In [ ]:
print(value)

In [ ]:
# Here is the code with a 'while' statement

value = 0

while value < 5:
    print(str(value) + " Hello World")
    value = value + 1

print("This is not part of while loop")

In [ ]:
# An annoying while Loop

name = " "

while name != 'your name':
    print("Enter your name")
    name = input()
    print(name)
print("Thank You")

In [ ]:
# for loop
print("My name is :")
for i in range(5):
    print("Sumaira Five times (" + str(i) + ")" )

In [ ]:
# equivalent while loop
print("My name is :")
i = 0
while i < 5:
    print("Sumaira Five times (" + str(i) + ")" )
    i = i + 1

In [ ]:
# range function

for i in range(10,16):
    print(i)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(10,21,2):
    print(i)

In [ ]:
for i in range(5,-1,-1):
    print(i)

In [ ]:
total = 0
for num in range(11):
    total = total + num
print(total)

In [ ]:
# break statement (print even numbers)

for n in range(20):
    if n % 2 == 0:
        print(n,end=" ")

In [ ]:

for n in range(20):
    if n % 2 == 0:
        print(n,end=" ")
    if n == 10:
        break

In [ ]:
for n in range(20):
    if n % 2 == 0:
        if n == 10:
            break
        print(n,end=" ")

In [ ]:
# continue statement
for n in range(20):
    if n % 2 == 0:
        continue
    print(n, end=' ')

In [ ]:
def hello():
    print("Hey")
    print("Hey There!!")

In [ ]:
hello()

In [ ]:
def greetings(name):
    print("Hello " + name)

In [ ]:
greetings()

In [ ]:
greetings('Sumaira')

In [ ]:
def addition(num_1, num_2):
    results = num_1 + num_2
    print(results)

In [ ]:
addition(10,20)

In [ ]:
addition(100,500)

In [ ]:
# default argument values

def fibonacci(N, a=0, b=1):
    counter = 0
    while counter < N:
        a, b = b, a + b
        print(a, end=' ')
        counter = counter+1

In [ ]:
fibonacci(10)

In [ ]:
fibonacci(10,0,1)

In [ ]:
fibonacci(10,1,2)

In [ ]:
fibonacci(10,b=2,a=1)

In [ ]:
# Return Statement

import random

def getAnswer(answerNumber):
    if answerNumber == 1:
        return 'It is certain'
    elif answerNumber == 2:
        return 'It is decidedly so'
    elif answerNumber == 3:
        return 'Yes'
    elif answerNumber == 4:
        return 'Reply hazy try again'
    elif answerNumber == 5:
        return 'Ask again later'
    elif answerNumber == 6:
        return 'Concentrate and ask again'
    elif answerNumber == 7:
        return 'My reply is no'
    elif answerNumber == 8:
        return 'Outlook not so good'
    elif answerNumber == 9:
        return 'Very doubtful'

In [ ]:
r = random.randint(1, 9)
fortune = getAnswer(r)
print(fortune)

In [ ]:
random.randint(1,100)

In [ ]:
def demo(val):
    return val,val+1,val+2

a,b,c = demo(5)
print(a,b,c)

In [ ]:
# Return Statement vs Print Statement

def add(a,b):
    sum = a + b
    return sum

def addition(num_1, num_2):
    results = num_1 + num_2
    print(results)

In [ ]:
add(10,20)

In [ ]:
addition(10,20)

In [ ]:
Number = add(10,20)

print(Number)

In [ ]:
Num = addition(10,20)

print(Num)

In [ ]:
var = print("Hello")

type(var)

In [ ]:
None == var

In [ ]:
[1,2,3,4,5]

In [ ]:
['Hello',3.14,50,True,10.5]

In [ ]:
backpack = ['laptop', 'pen', 'notebook','books']

In [ ]:
print(backpack)

In [ ]:
type(backpack)

In [ ]:
print('I have ' + backpack[0])

In [ ]:
backpack[1]

In [ ]:
backpack[3]

In [ ]:
backpack[4]

In [ ]:
backpack[1000]

In [ ]:
len(backpack)

In [ ]:
devices = ['laptop',['charger','usb','mouse'],'mobile']

In [ ]:
devices[0]

In [ ]:
len(devices)

In [ ]:
devices[2]

In [ ]:
devices[1]

In [ ]:
devices[1][2]

In [ ]:
'I have a ' + devices[1][0]

In [ ]:
devices[-1]

In [ ]:
backpack[-1]

In [ ]:
backpack[-2]

In [ ]:
backpack

In [ ]:
devices.append(100)

In [ ]:
devices

In [ ]:
devices.insert(0,'demo')

In [ ]:
devices

In [ ]:
del devices[0]

In [ ]:
devices

In [ ]:
del devices[-1]

In [ ]:
devices

In [ ]:
devices.remove('laptop')

In [ ]:
devices

In [ ]:
devices[0].remove('usb')

In [ ]:
backpack

In [ ]:
backpack[1]

In [ ]:
type(backpack[1])

In [ ]:
backpack[0:2]

In [ ]:
backpack[-1:-2]

In [ ]:
backpack[-1]

In [ ]:
backpack[-3:-1]

In [ ]:
backpack

In [ ]:
backpack[1] = 'Pencil'

In [ ]:
print(backpack)

In [ ]:
backpack.append('pen')

In [ ]:
backpack

In [ ]:
backpack.append('water botttle')

In [ ]:
backpack

In [ ]:
backpack.append(200)

In [ ]:
backpack

In [ ]:
backpack.insert(0,'First element')
print(backpack)

In [ ]:
del backpack[0]
backpack

In [ ]:
print(backpack)

In [ ]:
del backpack[-1]
backpack

In [ ]:
backpack.remove('laptop')
backpack

In [ ]:
backpack.remove(200)

In [ ]:
print(backpack)

In [ ]:
backpack.remove('First element')
print(backpack)

In [ ]:
# list concatination

[1,2,3] + ['A','B','C']

In [ ]:
# list replication

['x','y','z'] * 3

In [ ]:
# in operator

'hello' in ['hey','hi','hello']

In [ ]:
# not in operator

'cat' not in ['hey','hi','hello']

In [ ]:
# for loop with list

for i in range(4):
    print(i,end=' ')

In [ ]:
for num in [0,1,2,3]:
    print(num,end=' ')

In [ ]:
#multiple assignment

pet = ['Big', 'Brown', 'Loud']

In [ ]:
size = pet[0]
color = pet[1]
disposition = pet[2]

print(size, color, disposition)

In [ ]:
size, color, disposition = pet

print(size)

In [ ]:
size, color, disposition,name = pet

In [ ]:
# working with list

petName1 = 'Moti'
petName2 = 'Sheru'
petName3 = 'Badal'
petName4 = 'Lucy'
petName5 = 'Oreo'
petName6 = 'Scooby'

In [ ]:
print('Enter the name of pet 1:')
petName1 = input()
print('Enter the name of pet 2:')
petName2 = input()
print('Enter the name of pet 3:')
petName3 = input()
print('Enter the name of pet 4:')
petName4 = input()
print('Enter the name of pet 5:')
petName5 = input()
print('Enter the name of pet 6:')
petName6 = input()
print('The pet names are:')
print(petName1 + ' ' + petName2 + ' ' + petName3 + ' ' + petName4 + ' ' + petName5 + ' ' + petName6)

In [ ]:
petNames = []
while True:
    print('Enter the name of pet ' + str(len(petNames)+1) + ' (Or enter nothing to stop.):')
    name = input()
    if name == '':
        break
    petNames = petNames + [name] # list concatenation
print('The pet names are:')
for name in petNames:
    print('  ' + name)

In [ ]:
print(petNames)

In [ ]:
name = 'Sumaira'

In [ ]:
len(name)

In [ ]:
name[0]

In [ ]:
name[-1]

In [ ]:
name[0:4]

In [ ]:
'S' in name

In [ ]:
'z' not in name

In [ ]:
for i in name:
    print('* * * ' + i + ' * * * ')

In [ ]:
a = [ 1,2,3]

a

In [ ]:
a[1] = 10
a

In [ ]:
name[3]

In [ ]:
name[4] = 'i'

In [ ]:
name

In [ ]:
new_name = name[0:4] + 'i' + name[5:]
print(new_name)

In [ ]:
name

In [ ]:
name[:4]

In [ ]:
name[0:4]

In [ ]:
candies = (10, 20.5, True, 'Hey')

In [ ]:
candies

In [ ]:
10 in candies

In [ ]:
20 not in candies

In [ ]:
candies[0]

In [ ]:
candies[0:2]

In [ ]:
candies[10]

In [ ]:
candies[0] = 1000

In [ ]:
candies[1.0]

In [ ]:
candies[int(1.0)]

In [ ]:
new_candies = list(candies)
new_candies

In [ ]:
candies

In [ ]:
print(type(new_candies))
new_candies[1] = 200
new_candies = tuple(new_candies)
print(type(new_candies))

In [ ]:
new_candies

In [ ]:
# Dictionaries
myphone = {'brand':'iPhone','Color':'black','name':'iphone 11'}
print(myphone)

In [ ]:
myphone['brand']

In [ ]:
myphone['price']

In [ ]:
myphone['price'] = 40000

In [ ]:
print(myphone)

In [ ]:
# Dictionaries vs Lists

animal1 = ['dog','cat','rat']
animal2 = ['rat','dog','cat']

In [ ]:
animal = {'name':'max','age':4}
animal_1 = {'age':4,'name':'max'}

In [ ]:
animal1 == animal2

In [ ]:
animal == animal_1

In [ ]:
#Dictionary Methods
#Value() method

print(myphone)
for i in myphone.values():
    print(i)

In [ ]:
#keys() method

for n in myphone.keys():
    print(n)

In [ ]:
#items() method

for j in myphone.items():
    print(j)

In [ ]:
#in operator

'Color' in myphone.keys()

In [ ]:
#not in operator
'iphone' not in myphone.values()

In [ ]:
myphone

In [ ]:
myphone.keys()

In [ ]:
type(myphone.keys())

In [ ]:
list(myphone.keys())

In [ ]:
itmes = list(myphone.items())
print(items)

In [ ]:
items[0][1]

In [ ]:
myphone['price'] = 40000

In [ ]:
myphone

In [ ]:
myphone['price'] = 70000

In [ ]:
myphone

In [88]:
# Nested Dictionaries

allGuests = {'Ankit': {'samosa': 5, 'jalebi': 12},
                'Vishal': {'chakli': 3, 'samosa': 2},
                'Pranav': {'chiwda': 3, 'oreo': 1}}

In [89]:
def totalBrought(guests, item):
    numBrought = 0
    for k, v in guests.items():
        numBrought = numBrought + v.get(item, 0)
    return numBrought

In [ ]:
for k,v in allGuests.items():
    print(k,v)

In [90]:
print('Number of things being brought:')
print(' - Chakli         ' + str(totalBrought(allGuests, 'chakli')))
print(' - Chiwda         ' + str(totalBrought(allGuests, 'chiwda')))
print(' - Cakes          ' + str(totalBrought(allGuests, 'cakes')))
print(' - Jalebi         ' + str(totalBrought(allGuests, 'jalebi')))
print(' - Oreo           ' + str(totalBrought(allGuests, 'oreo')))
print(' - Samosa         ' + str(totalBrought(allGuests, 'samosa')))

Number of things being brought:
 - Chakli         3
 - Chiwda         3
 - Cakes          0
 - Jalebi         12
 - Oreo           1
 - Samosa         7

In [75]:
# sets

primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [76]:
print(primes)
print(odds)

{2, 3, 5, 7}
{1, 3, 5, 7, 9}

In [77]:
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [78]:
primes[0]

TypeError: 'set' object is not subscriptable

In [79]:
var = 'Rushikesh'
var[0]

'R'

In [81]:
num = 10000
num[0]

TypeError: 'int' object is not subscriptable

In [82]:
print(primes)
print(odds)

{2, 3, 5, 7}
{1, 3, 5, 7, 9}

In [83]:
# union: items appearing in either

primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [84]:
# Intersection : items appearing in both

primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [85]:
# Difference : items in primes but not in odds

primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [86]:
# Symmetric difference

primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

In [ ]:
L = [1,2,3,4,5,12,3,4,5,1,2,3,4]
New_list = set(L)
print(New_list)

In [68]:
# Write a python code to create list of square numbers of first 10 numbers

L = []
for n in range(11):
    L.append(n ** 2)
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
# List Comprehensions

[n ** 2 for n in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
# Multiple iteration

demo = []
for i in range(2):
    for j in range(3):
        demo.append((i,j))
print(demo)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [65]:
# list comprehensions

[(i,j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [64]:
# Condinional on iterator

L = []
for i in range(20):
    if i % 3 == 0:
        L.append(i)
print(L)

[0, 3, 6, 9, 12, 15, 18]

In [63]:
# list comprehensions
[i for i in range(20) if i % 3 == 0]

[0, 3, 6, 9, 12, 15, 18]

In [62]:
# dictionaries comprehensions

{n : n ** 2 for n in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [61]:
# set comprehensions

{ n ** 2 for n in range(5)}

{0, 1, 4, 9, 16}

In [60]:
[a % 3 for a in range(10)]

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]

In [59]:
{a % 3 for a in range(10)}

{0, 1, 2}

In [58]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [57]:
(i for i in range(5))

In [47]:
var = (i for i in range(5))

new_list = list(var)
new_list

[0, 1, 2, 3, 4]

In [46]:
list((i for i in range(5)))

[0, 1, 2, 3, 4]

In [45]:
tuple(list((i for i in range(5))))

(0, 1, 2, 3, 4)

In [44]:
# Iterators

N = 10 ** 12
for i in range(N):
    if i >= 10: break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [48]:
from itertools import count

for i in count():
    if i >= 10:
        break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [49]:
# Iterators
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [50]:
for n in [2,4,6,8,]:
    # do some operation
    print(n+1,end=' ')

3 5 7 9

In [51]:
iter([2,4,6,8,])

In [52]:
I = iter([2,4])

In [53]:
print(next(I))

2

In [54]:
next(I)

4

In [55]:
next(I)

StopIteration:

In [56]:
N = 10 ** 12

for i in range(N):
    if i >= 10:
        break
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
from itertools import count

for i in count():
    if i >= 10:
        break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
from itertools import count

for i in count():
    if i >= 10: break
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
 # enumerate

backpack = ['Laptop', 'Pen', 'pencil', 'Notebook','Charger']
print(backpack)

['Laptop', 'Pen', 'pencil', 'Notebook', 'Charger']

In [ ]:
for i in backpack:
    print(i)

Laptop
Pen
pencil
Notebook
Charger

In [ ]:
for i in range(len(backpack)):
    print(i)

0
1
2
3
4

In [42]:
for i in range(len(backpack)):
    print(i,backpack[i])

NameError: name 'backpack' is not defined

In [41]:
for i,val in enumerate(backpack):
    print(i,val)

NameError: name 'backpack' is not defined

In [40]:
# zip
L = [2, 4, 6, 8, 10]
R = [3, 6, 9, 12, 15]

for lval,rval in zip(L,R):
    print(lval,rval)

2 3
4 6
6 9
8 12
10 15

In [39]:
L = [2, 4, 6, 8, 10]
R = [3, 6, 9]

for lval,rval in zip(L,R):
    print(lval,rval)

2 3
4 6
6 9

In [38]:
# map : takes a function and applies it to the values in an iterator

# find the first 10 square numbers


square = lambda x: x ** 2
for val in map(square, range(10)):
    print(val, end=' ')

0 1 4 9 16 25 36 49 64 81

In [37]:
# lambda

def sqr(n):
    return n ** 2

In [36]:
sqr(5)

NameError: name 'sqr' is not defined

In [35]:
# filter : it only passes-through values for which the filter function evaluates to True

is_even = lambda x: x % 2 == 0
for val in filter(is_even, range(10)):
    print(val, end=' ')

0 2 4 6 8

In [34]:
# filter vs map

is_even = lambda x: x % 2 == 0
for val in map(is_even, range(10)):
    print(val, end=' ')

True False True False True False True False True False

In [33]:
# itertools

from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [32]:
from itertools import combinations
c = combinations(range(4), 3)
print(*c)

(0, 1, 2) (0, 1, 3) (0, 2, 3) (1, 2, 3)

In [31]:
from itertools import product
p = product('ab', range(3))
print(*p)

('a', 0) ('a', 1) ('a', 2) ('b', 0) ('b', 1) ('b', 2)

In [30]:
from itertools import permutations
p = permutations(range(3))
print(p)

<itertools.permutations object at 0x7e4fd8349da0>

In [29]:
L = [1,2,3,4]
for i in L:
    print(i, end=' ')

1 2 3 4

In [28]:
print(*L)

NameError: name 'L' is not defined

In [27]:
number = 100
print(*number)

TypeError: print() argument after * must be an iterable, not int

In [26]:
var = 'Sumaira'
print(*var)

S u m a i r a

In [25]:
# Errors and exception

print(Q)

NameError: name 'Q' is not defined

In [24]:
10 + 'Sum'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
25 / 0

ZeroDivisionError: division by zero

In [22]:
l = [1,2,3,4]
l[10]

IndexError: list index out of range

In [21]:
# try and except block

try:
    print('This will get exicuted')
except:
    print("this will get executed if there is error in the try block")

This will get exicuted

In [20]:
try:
    print('this will get executed')
    x = 15 / 0 # zero division error
except:
    print('something bad happend')

this will get executed
something bad happend

In [19]:
try:
    x = 15 / 0 # zero division error
    print('this will get executed')

except:
    print('something bad happend')

something bad happend

In [18]:
def safe_division(a,b):
    try:
        return a / b
    except:
        return 10 ** 10

In [17]:
safe_division(1,2)

0.5

In [16]:
safe_division(10,0)

10000000000

In [15]:
safe_division(10,'2')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [14]:
def safe_division(a,b):
    try:
        return a / b
    except ZeroDivisionError:
        return 10 ** 10

In [13]:
safe_division(10,'2')

NameError: name 'safe_division' is not defined

In [3]:
10 / '2'

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [12]:
# Raise statement

def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [11]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [10]:
fibonacci(-10)

[]

In [9]:
fibonacci(5)

[1, 1, 2, 3, 5]

In [8]:
fibonacci(-20)

[]

In [ ]:
def fibonacci(N):
    if N < 0:
        raise ValueError("N must be non-negative number")
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [5]:
fibonacci(-10)

[]

In [6]:
fibonacci(5)

[1, 1, 2, 3, 5]

In [7]:
print("hello")

hello