<a href="https://colab.research.google.com/github/sumairaanjum46/Python/blob/main/Functions%2CList%2CTuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hello():
  print("Hello world")

In [ ]:
hello()

Hello world

In [ ]:
def summ_of_numbers(a,b):
  sum=a+b
  print(sum)

In [ ]:
summ_of_numbers(6,2)

8

In [ ]:
#swapping in python
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [ ]:
#fibonacci series
def fibonacci_series(N, a=0,b=1):
  counter = 0
  while counter<N:
    a, b=b, a+b
    print(a, end=' ')
    counter=counter+1

In [ ]:
fibonacci_series(10)

1 1 2 3 5 8 13 21 34 55

In [ ]:
def fibonacci(N ,a=0,b=1):
  counter=0
  while counter<N:
    a, b=b, a+b
    print(a,end=' ')
  counter=counter+1

In [ ]:
#LIST(ORDERED COLLECTION because it has index)
#elements can be accessed by index
#TUPLE( IMMUTABLE ORDERED COLLECTION , because once you store any type of data, cannot be changed or modify , cannot modify specific value )
#dict(DICTIONARY,unordered, KEY-VALUE PAIR mapping) JSON
#SET (unordered collection of unique values)

In [ ]:
a=[1,2,3] #value inside list are items
print(a)

[1, 2, 3]

In [ ]:
stationary=['pen', 'pencil', 'eraser', 'books']
print(stationary[2])
print(stationary[-4])
stationary[1:2]

eraser
pen

['pencil']

append() method adds the argument at the end of the list
insert() method can insert a value at any index in the list
del() - will delete value at index
remove()-  attempting to delete a value that doesnot exists will result in ValueError , If value appears multiple times in the list , only first instance of the value will be removed

In [ ]:
stationary.append('reader')

In [ ]:
stationary

['pen', 'pencil', 'eraser', 'books', 'reader', 'reader', 'reader']

List operators
list concatenation & replication
in & ont in operator - whether the value is in a list with the in operator
we can determine whether a value is not in a list with the not in operator

In [ ]:
#list concantenation
[1,2,3] + ['a','b','c']

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
#lst replication
['x','y','z'] * 3

['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z']

In [ ]:
# in operator
'hello' in ['hey','hi','hello']

True

In [ ]:
# not in operator
'hello' not in ['hey']

True

In [ ]:
# for loop with list
for i in [0,1,2]:
  print(i,end=' ')

0 1 2

Tuple - tuples are almost similar to lists except in two ways :
first tuples are written in parenthesis(), instead of square brackets
but main is tuples same as string is immutable
tuples cannot have their values modified, append or removed

In [ ]:
ab = (1,2,3,4)

There are 3 methods in dictionary: keys(),values(),items()

In [ ]:
book = {1:"a",2:"b",3:"c"}
book[4]="d"
for i in book.values(): #values() method
  print(i)

a
b
c
d

In [ ]:
for n in book.keys():
  print(n)

1
2
3
4

In [ ]:
for j in book.items():
  print(j)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
items = list(book.items())

items[0][1]

'a'

Sets are unordered collection of unique items , defined in a curly braces{}
Operations performed are - union,intersection,difference, symmetric difference and others
python have all these built-in , via methods or operators

In [ ]:
# sets
even = {2,4,6,8,10}
prime = {2,3,5,7}
odd = {1,3,5,7,11}

In [ ]:
# union operation using operator
even | odd

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

In [ ]:
# union operation using .union() method

In [ ]:
even.union(odd)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11}

In [ ]:
# Intersection using operator
prime & odd

{3, 5, 7}

In [ ]:
#Intersection using method
prime.intersection(odd)

{3, 5, 7}

In [ ]:
# Difference with operator
prime - odd

{2}

In [ ]:
#Difference with method
prime.difference(odd)

{2}

In [ ]:
#Symmetric difference with operator
prime ^ odd

{1, 2, 11}

In [ ]:
#Symmetric difference with method
prime.symmetric_difference(odd)

{1, 2, 11}